* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Muli";
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
p {
  color: #7d7987;
}
/* navbar styling*/
.nav-bar {
  /* background-color: white;
  z-index: 999;
  position: sticky; */
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 10%;
  width: 100%;
  margin: 0;
}
#hero-logo {
  width: 161px;
  height: 41px;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 500px;
}
a {
  text-decoration: none;
}
.navigation ul li a {
  font-style: normal;
  color: #8f8a9b;
}

.navigation ul li a:hover {
  color: #1f1534;
  font-weight: 700;
}

.active {
  color: #1f1534 !important;
  font-weight: 700;
}
/*hero-section styling*/
.hero-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 598px;
}
.hero-text {
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 75%;
  padding: 2% 2%;
}
.hero-text h1 {
  font-weight: 700;
  font-size: 43px;
  width: 100%;
  padding: 2px;
  line-height: 53px;
}
.hero-text p {
  line-height: 32px;
  font-size: 19px;
  margin: 3% 0 0 0;
}
#hero-image {
  margin: 0 3%;
  width: 650px;
}
#consult-btn {
  margin: 9% 0 0 0;
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: none;
  background-color: #458ff6;
}
#element-dots1 {
  position: absolute;
  left: 0;
  top: 2.73%;
  bottom: 95.32%;
}
/*divider-section*/

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5% 20% 2% 20%;
  margin: 4% 0 0 0;
}

.divider-section > * {
  margin: 2% 0;
}

.divider-section p {
  line-height: 30px;
}

#shape1 {
  position: absolute;
  z-index: -999;
}

#element-dots2 {
  position: absolute;
  left: 79.88%;
  right: 11.9%;
  top: 40%;
  bottom: 60%;
  z-index: -1;
}
.services {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 4% 2%;
  padding: 2% 8%;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 320px;
  height: 320px;
  background: white;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 15% 10%;
}
.service-card > img {
  width: 70px;
}
.service-card > h1 {
  font-size: 23px;
}
.service-card > p {
  font-size: 14px;
  line-height: 28px;
}
.learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: rgba(69, 143, 246, 1) !important;
  padding: 20px;
  margin-top: 69px;
  width: 200px;
  height: 56px;
  background-color: #ffffff;
  border: 1.4px solid rgba(69, 143, 246, 1);
  border-radius: 55px;
}

/* Section 3 */

.section-3 {
  position: relative;
  display: flex;
  margin-top: 10%;
  gap: 8%;
  padding: 0% 7%;
}

.section-3 img {
  transform: scale(90%);
}
.section-3-text {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}
.section-3-text > h1 {
  line-height: 56px;
}
.section-3-text > * {
  margin: 3%;
}

.section-3-text p {
  line-height: 30px;
  width: 400px;
}

#section-3-dots {
  position: absolute;
  right: 0;
  top: 90%;
}

/* Section-4 */

.section-4 {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 11%;
}

.section-4-text {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.section-4-text > * {
  margin: 3%;
}
.section-4-text h1 {
  line-height: 48px;
}
.section-4-text p {
  width: 330px;
  font-weight: 300;
  line-height: 30px;
}

#section-4-img {
  transform: scale(90%);
}

.downloadBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* testimonials */
.test-p {
  color: white;
}
.testimonials-container {
  width: 100%;
  height: 100vh;
  margin-top: 14%;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials {
  position: relative;

  color: #ffffff;
  padding: 4%;
  margin: 0 auto;
  height: 380px;
  width: 70%;
  border-radius: 24px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
}

.testimonials-header {
  text-align: center;
}
.testimonials-content,
.testimonials-person {
  display: flex;
}
.testimonials-content {
  padding: 10% 5%;
  justify-content: space-between;
  align-items: center;
}
.testimonials-person {
  width: 50%;
  gap: 4%;
}
.testimonials-person .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ffffff;
}
.testimonials-person .img-container > img {
  width: 95%;
  aspect-ratio: 1;
  border-radius: 50%;
}
.name-title {
  gap: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonies {
  width: 50%;
  line-height: 30px;
}

#testimonial-dot-1 {
  transform: scale(90%);
  position: absolute;
  top: -5%;
  left: 92%;
}
#testimonial-dot-2 {
  transform: scale(90%);
  position: absolute;
  bottom: 7%;
  left: -6%;
  z-index: -1;
}

.testimonials-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 50%;
  padding: 2% 5%;
}
.testimonials-btn i {
  color: #458ff6;
  font-size: 1.5rem;
  margin: 0 13%;
}
.testimonials-btn i:first-child {
  opacity: 0.5;
}

.svgs {
  transform: scale(90%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
}
/* Articles */
.articles-container,
.article-cards-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.articles-container {
  margin-bottom: 10%;
  height: 100svh;
  flex-direction: column;
}

.article-section-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 12%;
}

.article-cards-container {
  position: relative;
  gap: 2%;
  padding: 3%;
}

.article-cards {
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 20px;
  height: 450px;
  width: 23%;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}
.article-img {
  height: 47%;
}
.article-img > img {
  width: 100%;
  height: 100%;
}
.article-description {
  padding: 8% 10%;
}

.article-description h2 {
  font-size: 1.2rem;
  line-height: 28px;
}

.article-description p {
  margin-top: 5%;
  line-height: 25px;
  font-size: 0.89rem;
}

.cta {
  margin-top: 10%;
  display: flex;
  justify-content: left;
  gap: 6%;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(69, 143, 246, 1);
}

#article-dots,
#article-shape {
  position: absolute;
}

#article-dots {
  top: 2%;
  left: 12%;
  z-index: -1;
}

#article-shape {
  right: 0;
  top: 0;
  z-index: -199;
  opacity: 75%;
}

.article-view-all {
  margin-top: 1%;
}

/* Footer */

.footer-container,
.footer-contents,
.website-links,
.company-info,
.columns {
  display: flex;
}
.footer-container {
  position: relative;
  width: 100%;
  height: 50svh;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  justify-content: center;
  align-items: center;
}
.footer-contents {
  align-items: center;
  padding: 5% 0;
  height: 100%;
  width: 80%;
}
.company-info {
  height: 80%;
  flex-direction: column;
  align-items: start;
  width: 37%;
  padding: 2%;
  gap: 10%;
  font-size: 1rem;
}
.company-info img {
  width: 38%;
}
.company-info > p {
  width: 91%;
  line-height: 28px;
  color: white;
}

.company-info > p:last-child {
  font-size: 0.85rem;
}

.columns > p,
h3 {
  color: white;
}

.website-links {
  width: 63%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}

.columns {
  flex-direction: column;
  gap: 12%;
  height: 100%;
  padding: 5% 0 0 0;
}
.columns > p {
  font-size: 0.94rem;
}
.columns > h3 {
  margin-bottom: 10%;
}
#footer-dot-1,
#footer-dot-2 {
  position: absolute;
}
#footer-dot-1 {
  top: -18%;
  right: 5%;
  z-index: -1;
}

#footer-dot-2 {
  opacity: 0.3;
  left: 0.8%;
  bottom: 1%;
}
