* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Muli";
}
/* navbar styling*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 100%;
  margin: 60px 0;
}
#hero-logo {
  width: 161px;
  height: 41px;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 500px;
}
a {
  text-decoration: none;
}
.navigation ul li a {
  font-style: normal;
  color: #8f8a9b;
}

.navigation ul li a:hover {
  color: #1f1534;
  font-weight: 700;
}

.active {
  color: #1f1534 !important;
  font-weight: 700;
}
/*hero-section styling*/
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 598px;
}
.hero-text {
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 75%;
  padding: 2% 2%;
}
.hero-text h1 {
  font-weight: 700;
  font-size: 43px;
  width: 100%;
  padding: 2px;
  line-height: 53px;
}
.hero-text p {
  color: #7d7987;
  line-height: 32px;
  font-size: 19px;
  margin: 3% 0 0 0;
}
#hero-image {
  margin: 0 3%;
  width: 650px;
}
#consult-btn {
  margin: 9% 0 0 0;
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: none;
  background-color: #458ff6;
}
#element-dots1 {
  position: absolute;
}
/*divider-section*/

.divider-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5% 20% 2% 20%;
  margin: 4% 0 0 0;
}

.divider-section > * {
  margin: 2% 0;
}

.divider-section p {
  color: #7d7987;
  line-height: 30px;
}

#shape1 {
  position: absolute;
  z-index: -999;
}

.services-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 4% 2%;
  padding: 2% 8%;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 320px;
  height: 320px;
  background: white;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 15% 10%;
}
.service-card > img {
  width: 70px;
}
.service-card > h1 {
  font-size: 23px;
}
.service-card > p {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#background-shapes-grid{
  d
}